/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    justify-content: center;
}

header {
    background: url('images/mainBackground.png') no-repeat center center/cover;
    color: white;
    height: 220vh; /* Full viewport height */
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 4px solid #ddd; /* Adding line below the navbar */
    margin-left: 100px;
    margin-right: 100px;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.navbar .logo img {
    width: 100px;
    margin-left: 30px;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin-right: 30px;
}

.navbar nav ul li {
    display: inline;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
}



.hero {
    position: absolute;
    top: 250px;
    left: 300px;
    transform: translate(-50%, -50%);
    /* text-align: center; */
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}


.hero button {
    background-color: #6C63FF;
    border: none;
    padding: 10px 50px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 30px;
}


.logo-bar {
    position: absolute;
    margin-bottom: 50px;
    bottom: -5%;/*  Adjust position to be half inside and half outside */
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Adjust width as needed */
    background-color: #f7f7f7;
    padding: 20px 0;
    border-radius: 20px;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

.logos .logo-item img {
    width: 150px; /* Adjust size as necessary */
    height: auto;
}


/* Media Queries */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .hero button {
        padding: 10px 15px;
        font-size: 0.9em;
    }

    .logo-bar {
        width: 90%; /* Adjust width for smaller screens */
    }

    .navbar nav ul {
        flex-direction: column;
        gap: 10px;
        margin: 0;
    }
}


.estate-section {
    text-align: center;
    padding: 100px 20px 50px; /* Adjust padding to ensure spacing below the header */
}

.estate-section h2 {
    font-size: 2em;
    margin-bottom: 50px;
}

.estate-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    gap: 20px;
    justify-content: center;
}

.card {
    position: relative;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: visible; /* Change this to ensure overflow content is visible */
    width: 100%; /* Ensure cards take full width of grid columns */
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 350px; /* Same height for all cards */
    box-sizing: border-box; /* Include padding and border in height and width calculations */
}


/* Positioning the cards to create the staggered effect */
.card:nth-child(1) {
    margin-top: 70px;
}

.card:nth-child(2) {
    margin-top: 100px;
}

.card:nth-child(3) {
    margin-top: 130px;
}

.card:nth-child(4) {
    margin-top: 130px;
}

.card:nth-child(5) {
    margin-top: 100px;
}

.card:nth-child(6) {
    margin-top: 70px;
}

.card:nth-child(7) {
    margin-top: 70px;
}

.card:nth-child(8) {
    margin-top: 100px;
}

.card:nth-child(9) {
    margin-top: 130px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info {
    position: absolute;
    bottom: -50px; /* Adjust as needed */
    left: 5%;
    right: 5%;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.card-info h3 {
    margin-top: 0;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.card-info p {
    margin: 0;
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
}

.card-info button {
    align-self: flex-end;
    background-color: #6C63FF;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .hero button {
        padding: 10px 15px;
        font-size: 0.9em;
    }

    .estate-cards {
        grid-template-columns: 1fr; /* 1 card per row */
    }

    .card {
        height: auto; /* Reset height for mobile view */
    }
}



/* Real Estate Promo Section */
.real-estate-promo {
    width: 100%;
    padding: 50px 0;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-card {
    background-color: white;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    overflow: visible;
    display: flex;
    margin-bottom: 100px;
    width: 100%;
    /* max-width: 1200px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    position: relative;
    padding: 20px;
}

.image-wrapper {
    position: relative;
    width: 50%;
    overflow:visible;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.background-design {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    width: 120%;  /* Set to be larger than the main image */
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* opacity: 0.5; */
}

.main-image {
    position: relative;
    width: 80%;
    height: auto;
    border-radius: 8px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.promo-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    z-index: 2;
}

.promo-info h3 {
    font-size: 60px ;
    /* margin: 0 0 10px; */
}

.promo-info p {
    margin: 0 0 20px;
}

.promo-info button {
    background-color: #6C63FF;
    border: none;
    padding: 20px 40px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    align-self: flex-start;
}

.promo-card.reverse {
    flex-direction: row-reverse;
}

.newsletter-signup {
    background-color: #6C63FF;
    color: white;
    border-radius: 30px;
    padding: 40px;
    width: 90%;
    /* max-width: 1200px; */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    margin: 50px auto; /* Center the section */
}

.newsletter-signup h3 {
    margin: 0 0 10px;
    font-size: 60px;
}

.newsletter-signup p {
    margin: 0 0 20px;
}
.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form input {
    padding: 15px 20px;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
    font-size: 1em;
    color: #6C63FF;
    background-color: white;
    width: 300px;
}

.signup-form button {
    padding: 15px 20px;
    border-radius: 0 20px 20px 0;
    border: none;
    background-color: #4A47D0;
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.signup-form button:hover {
    background-color: #3732A5;
}

/* Specific Styles for Card 1 */
.card1 .image-wrapper {
    padding: 30px;
}

.card1 .background-design {
    width: 90%;  /* Ensure it is larger than the main image */
    left: 45%;
}

.card1 .main-image {
    width: 70%; /* Adjust to fit background design */
    height: 120%;
    bottom: 20%;
 
}

/* Specific Styles for Card 2 */
.card2 .image-wrapper {
    padding: 30px;
}

.card2 .background-design {
    width: 90%;  /* Ensure it is larger than the main image */
    right: -47%;
}

.card2 .main-image {
    width: 70%; /* Adjust to fit background design */
    height: 120%;
    bottom: 20%;
    right: 0%;
}

/* Media Queries */
@media (max-width: 768px) {
    .promo-card,
    .promo-card.reverse {
        flex-direction: column;
        align-items: center;
    }

    .image-wrapper {
        width: 100%;
    }

    .promo-info {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .promo-info button {
        align-self: center;
    }
}

footer {
    background-color: #f0f0f0;
    padding: 50px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Ensure space is evenly distributed */
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start; /* Align items to the top */
}

.footer-left, .footer-right {
    width: 45%; /* Adjusted width to reduce spacing */
}

.footer-left {
    text-align: left;
}

.footer-logo {
    width: 100px;
    margin-bottom: 20px;
}

.social-icons img {
    width: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.footer-left p {
    font-size: 0.8em;
    color: #333;
}

.footer-right {
    text-align: left;
}

.footer-right table {
    width: 100%;
    border-collapse: collapse;
}

.footer-right th, .footer-right td {
    padding: 10px;
    text-align: left;
    font-size: 0.9em;
}

.footer-right th {
    border-bottom: 2px solid #ddd;
}

.footer-right td {
    border-bottom: 1px solid #ddd;
}

.footer-right td:last-child, .footer-right th:last-child {
    border-right: none;
}
